.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #282c34;
  /* padding: 5px; */
}

h1.scissor {
  width: 100%;
  text-align: left;
  padding-left: 5rem;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}








.line1, .line2, .line3 {
  position: relative;
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: .3s;
  margin-right: 25px;
}

.line2{
  margin: 5px 0;
}

.hamburger {
  display: none;
  cursor: pointer;
}



@media (max-width: 768px) {

  .hamburger
  {
    display: block;
    cursor: pointer;
    z-index: 999;
  }


  h1.scissor {
    padding-left: 2rem;
    z-index: 999;
  }

/* 
  .navbar {
    flex-direction: column;
  } */
  .navbar ul {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: -450px;
    /* margin-top: 13rem; */
    background: #282c34;
    transition: .7s;
  }

  .navbar ul.active {
    top: 40px;
    transition: .7s;
  }

  .navbar ul li {
    text-align: center;
    padding: 1rem;
  }
  .navbar ul li a {
    padding: 10px;
  }
  .navbar .logo {
    margin: auto;
  }
  .navbar .logo h2 {
    text-align: center;
  }
  .navbar .logo img {
    width: 40%;
  }
}