
*{
  box-sizing: border-box;
}

.dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .stats {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .stats h2 {
    margin-bottom: 10px;
    
  }
  
  .recent-activity {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .recent-activity h2 {
    margin-bottom: 10px;
  }
  
  .recent-activity ul {
    list-style: none;
    padding-left: 0;
  }
  
  .url-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    position: relative;
  
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .title-head{
    font-size: 1.2rem;
    font-weight: 600;
    /* display: flex;
    justify-content: space-between; */
  }

  .user-profile h2{
    text-transform: uppercase;
    color: #007bff;
  }

  .title-head span{
    font-size: 1rem;
    font-weight: 400;
    background: #007bff;
    color: white;
    padding: .5rem;
    display: flex;
    justify-content: flex-start;
    max-width: 500px;
    /* align-items: center; */
    border-radius: 12px 0 12px 0;
    /* box-shadow: 0 16px 62px 0 rgba(161, 160, 160, 0.37); */

  }

  .title-head span a{
    color: white;
    text-decoration: none;
  }

  .ul-list{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    gap: 10px;
    padding-left: 0;
    width: 100%;
  }

  .li-list{
    background: linear-gradient(
    135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* border-radius: 32px; */
  margin: auto;
  padding: 20px;
  /* width: fit-content; */
  max-width: 100%;
  min-width: 90%;
  position: relative;
  }

  .li-list div, .li-list div p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .url-list h2 {
    margin-bottom: 10px;
  }
  
  .url-list ul {
    list-style: none;
    padding-left: 0;
  }
  
  .url-list li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .url-list a {
    color: #007bff;
    text-decoration: none;
  }
  
  .url-list p {
    margin-bottom: 5px;
  }
.user-profile{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.shorten-url{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.shorten-url h2{
    margin-bottom: 10px;
}

.link-url{
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 20px;

}

.copy{
    background-color: #756c6c;
    padding: 2px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


@media (max-width: 768px) {

  .ul-list{
    display: flex;
    flex-direction: column;
  }
}